td, tr, header, footer, p {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Verdana, sans-serif, Tahoma, Geneva, Verdana;
}

main {
    border: 1px solid darkgrey;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

td, th, caption {
    font-size: 23px;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.5);
  transition: 0.5s;

input[type="radio"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    padding: 10px 20px;
    transform: scale(1);
    overflow: visible;
  }