{% extends 'base.html' %}


{% block content %}
	<p>Max loads with <strong>{{children}}CH:</strong></p>
	<br>

	<table>
		<tr>
			<td>Aircraft</td>
			<td>{{aircraft}}</td>
		</tr>
		
		<tr>
			<td>Departure</td>
			<td>{{airfield}}</td>
		</tr>
		<tr>
			<td>Temp</td>
			<td>{{temp}}&deg;C</td>
		</tr>
		
		<tr>
			<td>Limit</td>
			<td>
				{% if  rtow in [36300, 43000] %}
					{{rtow}} (MTOW)
				{% else %}
					{{rtow}} ({{ limited_by }})
				{% endif %}
			</td>
		</tr>

		<tr>
			<td>Fuel</td>
			<td>{{fuel}}</td>
		</tr>

		<tr>
			<td><strong>Pax</strong></td>
			<td><strong>{{adults + children}}</strong></td>
		</tr>

		<tr>
			<td>Baggage</td>
			<td>{{bgg_wt}} lbs</td>
		</tr>

		<tr>
			<td>TOW</td>
			<td>{{tow}} lbs</td>
		</tr>

		<tr>
			<td>Underload</td>
			<td>{{underload}} lbs</td>
		</tr>
	</table>
	<br>

	<p><a href="/">Home</a></p>
{% endblock content %}